.home {
    display: flex;
    justify-content: center;
    color: #485B74;

    h1, h2 {
        text-shadow: 0 0px 5px #fff;
    }

    hr{
        border: 2px solid #485B74;
    }

    &__links {
        a {
            cursor: pointer;
            font-size: 25px;
            &:hover {
                transition: 0.2;
                font-size: 35px;
                color:#5c5c5c;
            }
        }
        img {
            height: 45px;
        }
      
    }
}