.list-container {
    display: flex;
    justify-content: center;

    p {
        font-weight: bold;
        color: #f3f028;
    }

    &__table{
        padding: 5px 10px;
        
        table {
            font-size: 18px;
            border-radius: 20px;

            tbody {
                background: #f3f8ff;
                border: none;
                box-shadow: 2px 3px 6px 0px #435b72;
            }

            tr {
                height: 38px;
                &:hover {
                    background: #a2c3ee;
                    color: #fff;
                }
            }
        }
        .thead-icon {
          display: none;
          font-weight: bold;
          margin-left: 60px;
          justify-content: space-between;
        }
    }
}

@media only screen and (max-device-width: 930px) {
   table {
    display: grid;
    width: 380px;
   }
   table thead {
     display: none;
   }
   .thead-icon {
     display: flex !important;
   }
}

table thead th { 
    color: #fff;
    background: #435b72;
    margin-right: 10px;
    padding: 5px 25px;
}
table tbody td {
     border-bottom: 1px solid #adabab; 
     font-weight: bold;
     color: #485b74;
   
}

.text-left {
    text-align: left !important;
    padding-left: 30px;
}

thead th {
    background-color: #a2c3ee;
  }
  thead th:first-child {
    border-radius: 20px 0 0 0px;
  }
  thead th:last-child {
    border-radius: 0 20px 0px 0;
  }
  
  .table > thead > tr > th {
    border: none !important;
  }
  
  /* remove border from first tbody row... */
  .table > tbody > tr:first-child > td,
  .table > tbody > tr:first-child > th {
    border-top: none;
  }