.navbar {
    min-width: 500px;
    height: 55px;
    background: #485b74;
    padding: 5px 95px;
    border-radius: 25px;
    box-shadow: 0px 0px 6px #484848;

    &__btn-option {

        button {
            border: none;
            background: transparent;
            color: #fff;
            cursor: pointer;
            font-weight: bold;

            .active {
                color: red;
            }

            &:hover {
                transition: 0.2s;
                color: #a2c3ee;
                transform: scale(1.2); 
            }
        }
    }
}

@media only screen and (max-device-width: 900px) {
    .navbar {
        min-width: 400px;
    }
}