.grid {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr 1fr;
}

.nav {
	grid-area: nav;
    justify-content: center;
}

.content {
	grid-area: content;
	display: block;
    min-height: 500px;
}

.grid-template-areas-1 {
	grid-template-areas:
		"nav nav nav"
		"content content content"
		"content content content"
		;
}